ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b4170;
  }
  
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.aa{
    width: 800px;
    height: 460px;
    margin: 0 ;
    padding-left: 10px;
   
   }
   .aa input[type="text"]{
    border-radius: 15px;
    background-color: rgb(180,180,180);
    padding: 20px; 
    width: 400px;
    height: 5px; 
  
   }
   .aa input[type="password"]{
    border-radius: 15px;
    background-color: rgb(180,180,180);
    padding: 20px; 
    width: 400px;
    height: 5px; 
   
   }
