<!-- author: lohitha bhethalam -->
<br/>
<br/>
<h2>user details</h2>
<br/>
<br/>  ID:
<%=  user._id %>
  
    <br/>name:
    <%=user.name%>
      <br/> email:
      <%=user.email%>
      <br/> phone:
      <%=user.phone%>
        <br/>
       
            <br/>
            <br/>
            <form method="get" action="/user">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>