
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding: 0px;
 }

.navbar {
  width: 100%;
  background-color:#2b4170;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #1f283b;
}
#header {
  position: relative;
  margin: 0 px;
  padding-top: 0px;
 
}

#header h1{
    margin:0px;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>
<body>
    <nav id="header">
<div  class="navbar navbar-expand-lg navbar-light bg-light">
        <a  href="/" >
                <img src="../images/pirates.png" width="30" height="30" alt="logo">
        </a>
  <a href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/user"><i class="fa fa-address-card-o"></i> User</a> 
  <a href="/player"><i class="fa fa-child"></i> Player</a> 
  <a href="/event"><i class="	fa fa-calendar"></i> Event</a> 
  <a href="../adminlogin.html" style="float:right;"><i class="fa fa-fw fa-user" ></i> Logout</a>
</div>
</nav>

</body>
</html> 
