
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= event.name %>" required>
      </div>
      <div class="form-group">
        <label for="mail">e-mail</label>
        <input type="text" class="form-control" id="mail" name="mail" value="<%= event.mail %>" required>
      </div>
      <div class="form-group">
        <label for=" phone">phone</label>
        <input type="number" class="form-control" id=" phone" name=" phone" value="<%= event.phone %>" required>
      </div>
     
      
      
    </div>
  </div>
  <hr>